ul.lsp li {
    margin-bottom: 15px;
}

ul.lsp2 li {
    list-style: none;
    margin-bottom: 5px;
}

ul.lsp2:last-child {
    margin-bottom: 0;
}

ul.lsp:first-child {
    padding-top: 10px;
    border-top: 0.5px solid black;
    margin-top: 10px;
}

ul.lsp li {
    list-style: none;
}

@media (prefers-color-scheme: dark) {
    ul.lsp:first-child {
        border-top: 0.5px solid white;
    }
}